__pycache__/
*.pyc
*.log
.dockerignore
docker-compose.override.yml
*.sqlite3
node_modules/
!.docker/Dockerfile
.DS_Store
≈
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
.env
/.env
